<div class="row">
    <div class="col-4"></div>
    <div class="col-4 text-center">
        <h3>Edit Task</h3>
    </div>
    <div class="col-4"></div>
</div>
<br><br><br>

<div class="container">
    <div class="row">
        <div class="col">
            <label>Assigned To</label>
            <select name="users" id="users" class="form-control" required value="AssignedTo">
                <option value="">--Select--</option>
                <option value="1">User 1</option>
                <option value="2">User 2</option>
                <option value="3">User 3</option>
                <option value="4">User 4</option>
            </select>

            <label>Progress</label>
            <select name="status" id="status" class="form-control" required value="Status">
                <option value="">--Select--</option>
                <option value="1">Not Started</option>
                <option value="2">Completed</option>
                <option value="3">In Progress</option>
            </select>
        </div>
        <div class="col">
            <label for="Due Date">Due Date</label>
            <input type="date" class="form-control" value="DueDate">
            <label for="priority">Priority</label>
            <select name="Priority" id="Priority" class="form-control" required>
                <option value="">--Select--</option>
                <option value="1">Normal</option>
                <option value="2">Low</option>
                <option value="3">High</option>
            </select>
        </div>
    </div>
    <div class="row">
        <label for="description">Description</label>
        <textarea id="desc" rows="5" cols="33"></textarea>
    </div>
    <br><br>
    <div class="row">
        <div class="col-10"></div>
        <div class="col">
            <button class="btn bg-warning" style="margin-right: 5px;" (click)="cancelTask()">Cancel</button>
            <button class="btn bg-success">Save</button>
        </div>
    </div>
</div>