<div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4" >
            <button class="btn bg-success" (click)="addNewTask()">New Task</button>
        </div>
        <br><br>
    </div>
    <table class="table table-bordered">
        <thead>
            <th>AssignedTo</th>
            <th>Status</th>
            <th> Due Date</th>
            <th>Priority</th>
            <th>Comments</th>
            <th colspan="2" class="text-center">Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let l of list">
                <td>{{l.AssignedTo}}</td>
                <td>{{l.Status}}</td>
                <td>{{l.DueDate}}</td>
                <td>{{l.Priority}}</td>
                <td>{{l.Comments}}</td>
                <td><button class="btn bg-primary" (click)="editTask(l)">Edit</button></td>
                <td><button class="btn bg-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="list.length ==0 ">
        hello
        NO TASKS AVAILABLE
    </div>
</div>